@use '../../scss/mixins';
@use '../../scss/vars';
@use '../../scss/reset';

.cart {
    &__container {
        @include mixins.Flex(column, flex-start, flex-start, 30px);
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    &__item {
        @include mixins.Flex(column, center, center, 10px);
    }
    &__info {
        text-align: center;
    }
}