@use '../../../scss/mixins';
@use '../../../scss/vars';
@use '../../../scss/reset';

.nav {
    &__list {
        @include mixins.Flex(row, center, center, 40px);
    }
    &__link {
        @include mixins.Poppins(16px, 700, 20px);
        color: vars.$second-color;
    }
    &__link--active {
        @include mixins.Flex(row, center, center, 0px);
        padding: 15px;
        text-decoration: underline;
        border-bottom: 3px solid vars.$third-color;
        width: 70%;
    }
}