@use './scss/mixins';
@use './scss/vars';
@use './scss/reset';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap');

body {
    background-color: vars.$first-color;
    color: vars.$second-color;
    .button {
        @include mixins.Poppins(14px, 500, 20px);
        background-color: vars.$third-color;
        color: vars.$first-color;
        padding: 8px 17px;
        border-radius: 6px;
    }
}